* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial;
	font-size: 14px;
	letter-spacing: 0.2px;
}
.main {
	margin: 0 auto;
	max-width: 80%;
}

.welcome {
	height: 668px;
	background: url('../images/london-night.png') no-repeat;
	background-size: cover;
	/*background: linear-gradient(45deg, rgba(133,5,245,1) 0%, rgba(54,43,255,1) 99%, rgba(54,43,255,1) 100%);*/
	padding-top: 33px;
	color: #ffffff;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 22px;
}

.menu-icon {
	height: 23px;
	width: 38px;
	transition: transform 1s;
}

.menu-icon:hover {
	transform: rotate(180deg);
	transition: transform 1s;
}

.menu-icon__line {
	display: flex;
	flex-direction: column;
	height: 3px;
	width: 100%;
	margin-bottom: 7px;
	background-color: #ffffff;
}

.menu-icon__line:last-child {
	margin-bottom: 0;
}

.weather {
	display: flex;
	align-items: center;
}

.weather__icon {
	fill: #ffffff;
	margin-right: 12px;
}

.weather__indicator {
	display: flex;
	font-size: 12px;
	letter-spacing: -0.3px;
}
.weather__degrees {
	font-size: 20px;
	letter-spacing: -0.5px;
}

.weather__property {
	margin-right: 3px;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo__icon {
	fill: #ffffff;
	margin-bottom: 5px;
}

.logo__title {
	font-size: 72px;
	font-weight: normal;
	letter-spacing: -4.7px;
}

.explore {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.explore__title {
	max-width: 470px;
	text-align: center;
	font-size: 36px;
	font-weight: normal;
	letter-spacing: -0.9px;
	margin-bottom: 13px;
}

.landing-button {
	padding: 17px 30px;
	border-radius: 100px;
	font-size: 14px;
	border: none;
	font-weight: bold;
	transition: background-color 500ms;
	letter-spacing: 3px;
	background-color: #2387f5;
	color: #ffffff;
}
.landing-button:hover {
	background-color: #1C6CC4;
}

.landing-button:active {
	background-color: #16569D;
}

.landing-button:focus {
	outline: none;
	-webkit-box-shadow: 0px 0px 13px 7px rgba(114,178,249,1);
	-moz-box-shadow: 0px 0px 13px 7px rgba(114,178,249,1);
	box-shadow: 0px 0px 13px 7px rgba(114,178,249,1);
}

.content {
	background-image: linear-gradient(to bottom, #ffffff, #c4e6f0);
	color: #726c74;
}

.search {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 70px;
}

.search-form {
	top: -24px;
	position: relative;
	transition: transform 500ms;
}

.search-form:hover {
	transform: scale(1.1);
}

.search-form__input {
	width: 615px;
	height: 49px;
	padding-left: 53px;
	border-radius: 34px;
	border: none;
	color: #9b9b9b;
	transition: box-shadow 500ms;
	-webkit-box-shadow: 0px 7px 15.4px 2px rgba(74,74,74,0.25);
	-moz-box-shadow: 0px 7px 15.4px 2px rgba(74,74,74,0.25);
	box-shadow: 0px 7px 15.4px 2px rgba(74,74,74,0.25);
}

.search-form__input:focus {
	outline: none;
	-webkit-box-shadow: 0px 0px 13px 7px rgba(114,178,249,1);
	-moz-box-shadow: 0px 0px 13px 7px rgba(114,178,249,1);
	box-shadow: 0px 0px 13px 7px rgba(114,178,249,1);
}

.search-form__input::-webkit-input-placeholder {
	color: #9b9b9b;
}

.search-title {
	text-align: center;
	margin-bottom: 50px;
	color: #888888;
}

.search-title_accent {
	color: #565656;
}

.categories {
	list-style: none;
	display: flex;
}

.category {
	display: flex;
	align-items: center;
	width: 200px;
	transition: background-color 250ms ease-out;
}

.category:hover {
	background-color: #2387f5;
}

.category__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 11px 8px;
	padding: 29px 8px 36px 8px;
	border: solid 2px transparent;
}

.category:hover .category__item {
	border: solid 2px #ffffff;
}

.category__icon {
	margin-bottom: 17px;
	fill: #000000
}

.category:hover .category__icon {
	fill: #ffffff;
}

.category__title {
	font-size: 18px;
	letter-spacing: -0.4px;
}

.category__title::after {
	content: '';
	display: block;
	margin: 15px auto;
	width: 63px;
	height: 1px;
	background-color: #000000;
}

.category:hover .category__title::after {
	background-color: #ffffff;
}

.category:hover .category__title {
	color: #ffffff;
}

.category__description {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #888888;
}

.category:hover  {
	color: #d1e7ff;
}

.category__description_accent {
	color: #565656;
}

.category:hover .category__description,
.category:hover .category__description_accent {
	color: #d1e7ff;
}

.redefined-title {
	text-align: center;
	color: #000000;
	font-size: 36px;
	font-weight: normal;
	letter-spacing: -0.9px;
}

.redefined-title_isCrossed {
	text-decoration: line-through;
	color: #9b9b9b;
}

.background-title {
	user-select: none;
	color: #7787a9;
	line-height: 200px;
	font-size: 288px;
	font-weight: bold;
	letter-spacing: 3.3px;
	opacity: 0.09;
}

.news {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 157px;
}

.news-slider {
	width: 100%;
	z-index: 1;
	margin-top: -35px;
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}

.news-slider__arrow {
	position: absolute;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.news-slider__arrow:focus {
	outline: none;
	background-color: #72B2F9;
	-webkit-box-shadow: 0px 0px 13px 7px rgba(114,178,249,1);
	-moz-box-shadow: 0px 0px 13px 7px rgba(114,178,249,1);
	box-shadow: 0px 0px 13px 7px rgba(114,178,249,1);
}

.news-slider__arrow:hover {
	fill: #0d32c6;
}

.news-slider__arrow_left {
	left: -83px;
	transform: rotate(180deg);
}

.news-slider__arrow_right {
	right: -83px;
}

.news-slider__content {
	height: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.news__block {
	width: calc(50% - 30px / 2);
	position: absolute;
	top: 0;
	left: 1200px;
	margin-right: 30px;
	height: 400px;
	display: flex;
}

.news__block:first-child {
	left: 0;
}

.news__block:nth-child(2) {
	left: calc(50% - 30px / 2 + 30px);
}

.news__picture {
	max-width: 263px;
	min-width: 263px;
}

.news__post {
	display: flex;
	flex-direction: column;
	padding: 34px 21px 15px 31px;
	background-color: #ffffff;
}

.news__title {
	margin-bottom: 18px;
	font-size: 24px;
	line-height: 1.25;
	letter-spacing: 0.3px;
}

.news__date {
	margin-bottom: 30px;
	font-size: 12px;
	letter-spacing: 0.1px;
	color: #9b9b9b;
}

.news__description {
	line-height: 1.64;
	margin-bottom: 32px;
}

.news__author {
	margin-top: auto;
	display: flex;
	align-items: center;
}

.news__author-avatar {
	margin-right: 7px;
	width: 50px;
	height: 50px;
}

.news__author-name {
	line-height: 1.64;
	color: #6b6b6b;
}


.about {
	padding-top: 104px;
	padding-bottom: 246px;
}
.about__picture {
	min-width: 642px;
	height: 516px;
}
.info {
	display: flex;
}

.articles {
	margin-right: 33px;
}

.article {
	margin-bottom: 50px;
}

.article__title {
	font-size: 36px;
	font-weight: normal;
	letter-spacing: -0.9px;
	margin-bottom: 25px;
	color: #000000;
}

.article__paragraph {
	margin-bottom: 25px;
	line-height: 1.64;
}

.article__paragraph:last-child {
	margin-bottom: 0;
}

.landing-button_more {
	border: solid 1px  #726c74;
	color: #726c74;
	background-color: transparent;
	transition: color 500ms;
}

.landing-button_more:hover {
	background-color: #726c74;
	color: #ffffff;
}

.landing-button_more:active {
	background-color: #3a373b;
	color: #ffffff;
}

.trips {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 64px;
}

.trip-slider {
	margin-top: -80px;
	display: flex;
	flex-direction: column;
}

.slider {
	display: flex;
	margin-bottom: 96px;
}

.slider__item {
	display: flex;
	position: relative;
	min-width: 258px;
	height: 170px;
	margin: 0 20px;
	position: relative;
	transition: transform 0.5s ease-out;
	list-style: none;
}

.slider__item:first-child {
	margin-left: 0;
}

.slider__item:last-child {
	margin-right: 0;
}

.slider__item:hover  {
	transform: scale(1.2, 1.2);
}

.slider__item:before {
	content: '';
	border-radius: 9px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: background-color 0.5s ease-out;
}

.slider__item:hover:before {
	background-color: rgba(208, 2, 27, 0.79);
	box-shadow: 0 10px 18px 0 rgba(238, 0, 0, 0.5);
}

.slider__hint {
	opacity: 0;
	top: 27px;
	left: 27px;
	right: 27px;
	position: absolute;
	color: #ffffff;
	transition: opacity 500ms ease-out;
}

.slider__item:hover .slider__hint {
	opacity: 1;
	display: block;
}

.slider__title {
	margin-bottom: 15px;
	font-size: 16px;
}

.slider__description {
	margin-bottom: 10px;
	font-size: 12px;
	letter-spacing: -0.3px;
}

.slider__button {
	padding: 12px 14px;
	border: none;
	border-radius: 10px;
	background-color: #7b5ba8;
	color: #ffffff;
}

.slider__button:hover {
	background-color: #614886
}

.scroll {
	height: 9px;
	border-radius: 100px;
	background-image: linear-gradient(to right, #dc8ba1, rgba(200, 109, 215, 0.0));
}

.footer {
	padding-top: 43px;
	background-color: #2b3a4d;
	border-top: solid 1px #979797;
	color: #a7c2dd;
}

.footer-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 46px;
}

.footer-column:last-child {
	margin-right: 0;
}

.footer-column__title {
	margin-bottom: 40px;
	position: relative;
	font-size: 24px;
	letter-spacing: 5.1px;
	color: #668099;
}

.footer-column__title:after {
	content: '';
	position: absolute;
	top: 15px;
	left: 140px;
	right: 0;
	height: 2px;
	background-color: #5a748f;
}

.footer-column:last-child .footer-column__title:after {
	content: none;
}

.footer-article {
	margin-bottom: 11px;
}

.footer-article:last-child {
	margin-bottom: 0px;
}

.footer-article__title {
	line-height: 2.14;
	letter-spacing: -0.3px;
	color: #a7c2dd;

}

.footer-article__info {
	display: flex;
	color: #567392;
}
.footer-article__author {
	margin-right: 24px;
	position: relative;
}
.footer-article__date {
	position: relative;
}
.footer-article__date:before {
	content: '';
	position: absolute;
	left: -13px;
	width: 1px;
	height: 12px;
	margin-right: 12px;
	background-color: #979797;;
}
.footer-about {
	max-width: 292px;
	min-width: 200px;
	font-size: 12px;
	line-height: 1.92;
	letter-spacing: -0.3px;
}

.footer-recourse {
	max-width: 312px;
	margin-bottom: 41px;
	line-height: 1.43;
	letter-spacing: -0.3px;
}

.form {
	display: flex;
	flex-direction: column;
}

.form__input {
	width: 100%;
	height: 26px;
	margin-bottom: 30px;
	border: none;
	background-color: #2b3a4d;
	border-bottom: solid 1px #c4d4e5;
	color: #9cbada;
}

.form__input:focus {
	outline: none;
	color: #72B2F9;
	border-bottom: solid 1px #72B2F9;
}
.form__input:focus::-webkit-input-placeholder {
	color: #72B2F9;
}

.form__input_e-mail {
	margin-bottom: 37px;
}

.form__input::-webkit-input-placeholder {
	color:#9cbada;
}

.form__button {
	padding: 12px 120px;
	background-color: #2b3a4d;
	border: solid 2px #bccee2;
	font-weight: bold;
	letter-spacing: 3px;
	color: #ffffff;
}

.form__button:focus {
	outline: none;
	color: #72B2F9;
	border: solid 2px #72B2F9;
}

.copyright {
	text-align: center;
	padding: 48px 0 44px 0;
	background-color: #31363c;
	color: #4d6a8d;
}

.svg {
	display: none;
}

@media (max-width: 1366px) {
	.categories {
		flex-wrap: wrap;
		justify-content: center;
	}
	.category__item {
		padding: 20px 8px 20px 8px;
	}
	.background-title {
		display: none;
	}
	.news-slider {
		margin-top: 30px;
	}
	.news__post {
		padding: 25px 15px 15px 20px;
	}
	.news__date {
		margin-bottom: 20px;
	}
	.news__author-avatar {
		width: 40px;
		height: 40px;
	}
	.news__description {
		max-height: 130px;
		overflow: hidden;
		margin-bottom: 25px;
	}
	.news__picture {
		max-width: 200px;
		min-width: 200px;
	}
	.news__title {
		margin-bottom: 15px;
	}
	.news__date {
		margin-bottom: 15px;
	}
	.news__author-name {
		font-size: 12px;
	}
	.trip-slider {
		overflow: auto;
		margin-top: 0;
		padding: 20px 40px 0 40px;

	}
	.footer-about {
		width: 100%;
	}
	.footer-recourse {
		width: 100%;
	}
	.footer-article__title {
		line-height: 1.5;
	}
	.form__button {
		padding: 12px 100px;
	}
}

@media (max-width: 1024px) {
	.about__picture {
		display: none;
	}
	.landing-button_more {
		display: block;
		margin: 0 auto;
	}
	.articles {
		margin-right: 0;
	}
	.article__title {
		text-align: center;
	}
	.about {
		padding-bottom: 260px;
	}
}

@media (max-width: 960px) {
	.search-form__input {
		width: 480px;
	}
	.redefined-title_isCrossed {
		display: block;
	}
	.news {
		padding-bottom: 50px;
	}
	.news-slider__content {
		overflow: auto;
	}
	.news-slider__arrow {
		display: none;
	}
	.news__block {
		width: 100%;
	}
	.news__title {
		margin-bottom: 18px;
	}
	.news__picture {
		max-width: 263px;
		min-width: 263px;
	}
	.footer-columns {
		margin-bottom: 20px;
		flex-direction: column;
	}
	.footer-column {
		width: 100%;
		margin-bottom: 35px;
	}
	.footer-column:last-child .footer-column__title:after {
		content: '';
		position: absolute;
		top: 15px;
		left: 170px;
		right: 0;
		height: 2px;
		background-color: #5a748f;
	}
	.footer-about {
		max-width: 100%;
	}
}

@media (max-width: 640px) {
	.main {
		max-width: 90%;
	}
	.search-form__input {
		width: 380px;
	}
	.news {
		padding-bottom: 70px;
	}
	.news__picture {
		max-width: 263px;
		min-width: 263px;
	}
	.footer-recourse {
		width: 90%;
	}
	.about {
		padding: 0 0 70px 0;
	}
}

@media (max-width: 480px) {
	.header {
		margin-bottom: 70px;
	}
	.search-form__input {
		width: 350px;
	}
	.search-title {
		margin-bottom: 30px;
	}
	.news-slider {
		margin-bottom: 30px;
	}
	.news-slider__content {
		height: 300px;
	}
	.news__block {
		height: 300px;
	}
	.news__post {
		padding: 20px 15px 15px 20px;
	}
	.news__picture {
		max-width: 185px;
		min-width: 185px;
	}
	.news__title {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.news__date {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.news__description {
		max-height: 115px;
		margin-bottom: 12px;
	}
	.news__author-avatar {
		width: 30px;
		height: 30px;
	}
	.about {
		background: none;
	}
}

@media (max-width: 425px) {
	.news__title {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.news__date {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.news__description {
		font-size: 12px;
		margin-bottom: 12px;
	}
	.news__author-avatar {
		width: 24px;
		height: 24px;
	}
	.copyright {
		padding: 30px 0 28px 0;
	}
}

@media (max-width: 380px) {
	.logo__title {
		font-size: 64px;
		margin-bottom: 10px;
	}
	.explore__title {
		font-size: 30px;
	}
	.landing-button {
		font-size: 12px;
		margin-bottom: 20px;
	}
	.redefined-title {
		font-size: 30px;
	}
	.search-form__input {
		width: 280px;
	}
	.news-slider__content {
		height: 530px;
	}
	.news__block {
		width: 100%;
		flex-direction: column;
		height: 530px;
	}
	.news__post {
		padding: 10px 10px 15px 15px;
	}
	.news__picture {
		max-width: 100%;
		height: 60%;
	}
	.news__title {
		margin-bottom: 5px;
	}
	.news__date {
		font-size: 10px;
		margin-bottom: 5px;
	}
	.news__description {
		max-height: 75px;
	}
	.trip-slider {
		padding: 20px 0 0 15px;
	}
	.slider__item:hover  {
		transform: scale(1, 1);
	}
}
